/* Palette africaine pour tout le site */
:root {
  --african-yellow: #FFD600;
  --african-orange: #FF9800;
  --african-green: #388E3C;
  --african-red: #B71C1C;
  --african-blue: #0f0f1a;
  --african-sand: #FFF8E1;
  --african-white: #fff;
  --african-black: #222;
  --african-grey: #d0d0d0;
  --african-accent: #2c9eff;
}